<!DOCTYPE html>
<html ng-app>
<head>
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <meta name="description" content="simple wiki using angularjs + localstorage" />
    <meta charset="utf-8">
    <title>Simple ScratchPad WiKi</title>
    <style>
        body{
            padding:0;
            margin:0;
            background-color:#f0f0f0;
        }
        ul, li{
            list-style:none;
            margin:0;
            padding:0;
        }
        li a {
            padding:.5em 0px .5em 10px;
            display:block;
            line-height:1em;
        }
        li a.active{
            background-color:#d0d0f0;
        }
    </style>
</head>
<body ng-controller="wikiController">

<table border="0" width="100%">
    <tr>
        <td rowspan="2" style="width:160px;vertical-align: top;">
            <ul><li><a href="" ng-click="addTopic('Untitled')">(+) Add Topic</a></li></ul><br/>
            <ul style="">
                <li ng-repeat="topic in dataModel.topics track by $index">
                    <a href="" ng-click="selectTopic(topic)" ng-class="{'active':topic==dataModel.currentTopic}">{{topic.title}} <span ng-show="topic.dirty">*</span></a>
                </li>
            </ul>
        </td>
        <td>
            <input type="text" ng-model="dataModel.currentTopic.title" style="width:480px;"/>
        </td>
    </tr>
    <tr>
        <td>
            <textarea style="" ng-model="dataModel.fileContent" ng-blur="saveTopic(dataModel.currentTopic);" ng-keydown="dataModel.currentTopic.dirty=true;"></textarea>
        </td>
    </tr>
</table>


<script type="text/javascript">

    // This service was based on OpenJS library available in BSD License
    // http://www.openjs.com/scripts/events/keyboard_shortcuts/index.php
    angular.module('ng').factory('keyboardManager', ['$window', '$timeout', function ($window, $timeout) {
        var keyboardManagerService = {};

        var defaultOpt = {
            'type':             'keydown',
            'propagate':        false,
            'inputDisabled':    false,
            'target':           $window.document,
            'keyCode':          false
        };
        // Store all keyboard combination shortcuts
        keyboardManagerService.keyboardEvent = {}
        // Add a new keyboard combination shortcut
        keyboardManagerService.bind = function (label, callback, opt) {
            var fct, elt, code, k;
            // Initialize opt object
            opt   = angular.extend({}, defaultOpt, opt);
            label = label.toLowerCase();
            elt   = opt.target;
            if(typeof opt.target == 'string') elt = document.getElementById(opt.target);

            fct = function (e) {
                e = e || $window.event;

                // Disable event handler when focus input and textarea
                if (opt['inputDisabled']) {
                    var elt;
                    if (e.target) elt = e.target;
                    else if (e.srcElement) elt = e.srcElement;
                    if (elt.nodeType == 3) elt = elt.parentNode;
                    if (elt.tagName == 'INPUT' || elt.tagName == 'TEXTAREA') return;
                }

                // Find out which key is pressed
                if (e.keyCode) code = e.keyCode;
                else if (e.which) code = e.which;
                var character = String.fromCharCode(code).toLowerCase();

                if (code == 188) character = ","; // If the user presses , when the type is onkeydown
                if (code == 190) character = "."; // If the user presses , when the type is onkeydown

                var keys = label.split("+");
                // Key Pressed - counts the number of valid keypresses - if it is same as the number of keys, the shortcut function is invoked
                var kp = 0;
                // Work around for stupid Shift key bug created by using lowercase - as a result the shift+num combination was broken
                var shift_nums = {
                    "`":"~",
                    "1":"!",
                    "2":"@",
                    "3":"#",
                    "4":"$",
                    "5":"%",
                    "6":"^",
                    "7":"&",
                    "8":"*",
                    "9":"(",
                    "0":")",
                    "-":"_",
                    "=":"+",
                    ";":":",
                    "'":"\"",
                    ",":"<",
                    ".":">",
                    "/":"?",
                    "\\":"|"
                };
                // Special Keys - and their codes
                var special_keys = {
                    'esc':27,
                    'escape':27,
                    'tab':9,
                    'space':32,
                    'return':13,
                    'enter':13,
                    'backspace':8,

                    'scrolllock':145,
                    'scroll_lock':145,
                    'scroll':145,
                    'capslock':20,
                    'caps_lock':20,
                    'caps':20,
                    'numlock':144,
                    'num_lock':144,
                    'num':144,

                    'pause':19,
                    'break':19,

                    'insert':45,
                    'home':36,
                    'delete':46,
                    'end':35,

                    'pageup':33,
                    'page_up':33,
                    'pu':33,

                    'pagedown':34,
                    'page_down':34,
                    'pd':34,

                    'left':37,
                    'up':38,
                    'right':39,
                    'down':40,

                    'f1':112,
                    'f2':113,
                    'f3':114,
                    'f4':115,
                    'f5':116,
                    'f6':117,
                    'f7':118,
                    'f8':119,
                    'f9':120,
                    'f10':121,
                    'f11':122,
                    'f12':123
                };
                // Some modifiers key
                var modifiers = {
                    shift: {
                        wanted:		false,
                        pressed:	e.shiftKey ? true : false
                    },
                    ctrl : {
                        wanted:		false,
                        pressed:	e.ctrlKey ? true : false
                    },
                    alt  : {
                        wanted:		false,
                        pressed:	e.altKey ? true : false
                    },
                    meta : { //Meta is Mac specific
                        wanted:		false,
                        pressed:	e.metaKey ? true : false
                    }
                };
                // Foreach keys in label (split on +)
                for(var i=0, l=keys.length; k=keys[i],i<l; i++) {
                    switch (k) {
                        case 'ctrl':
                        case 'control':
                            kp++;
                            modifiers.ctrl.wanted = true;
                            break;
                        case 'shift':
                        case 'alt':
                        case 'meta':
                            kp++;
                            modifiers[k].wanted = true;
                            break;
                    }

                    if (k.length > 1) { // If it is a special key
                        if(special_keys[k] == code) kp++;
                    } else if (opt['keyCode']) { // If a specific key is set into the config
                        if (opt['keyCode'] == code) kp++;
                    } else { // The special keys did not match
                        if(character == k) kp++;
                        else {
                            if(shift_nums[character] && e.shiftKey) { // Stupid Shift key bug created by using lowercase
                                character = shift_nums[character];
                                if(character == k) kp++;
                            }
                        }
                    }
                }

                if(kp == keys.length &&
                        modifiers.ctrl.pressed == modifiers.ctrl.wanted &&
                        modifiers.shift.pressed == modifiers.shift.wanted &&
                        modifiers.alt.pressed == modifiers.alt.wanted &&
                        modifiers.meta.pressed == modifiers.meta.wanted) {
                    $timeout(function() {
                        callback(e);
                    }, 1);

                    if(!opt['propagate']) { // Stop the event
                        // e.cancelBubble is supported by IE - this will kill the bubbling process.
                        e.cancelBubble = true;
                        e.returnValue = false;

                        // e.stopPropagation works in Firefox.
                        if (e.stopPropagation) {
                            e.stopPropagation();
                            e.preventDefault();
                        }
                        return false;
                    }
                }

            };
            // Store shortcut
            keyboardManagerService.keyboardEvent[label] = {
                'callback': fct,
                'target':   elt,
                'event':    opt['type']
            };
            //Attach the function with the event
            if(elt.addEventListener) elt.addEventListener(opt['type'], fct, false);
            else if(elt.attachEvent) elt.attachEvent('on' + opt['type'], fct);
            else elt['on' + opt['type']] = fct;
        };
        // Remove the shortcut - just specify the shortcut and I will remove the binding
        keyboardManagerService.unbind = function (label) {
            label = label.toLowerCase();
            var binding = keyboardManagerService.keyboardEvent[label];
            delete(keyboardManagerService.keyboardEvent[label])
            if(!binding) return;
            var type		= binding['event'],
                    elt			= binding['target'],
                    callback	= binding['callback'];
            if(elt.detachEvent) elt.detachEvent('on' + type, callback);
            else if(elt.removeEventListener) elt.removeEventListener(type, callback, false);
            else elt['on'+type] = false;
        };
        //
        return keyboardManagerService;
    }]);

</script>

<script>

    function guid(){
        function s4() { return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1); }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    function wikiController($scope, $rootScope, keyboardManager){

        var dataModelKey = 'dataModel';
        $scope.loadData = function() {
            if (window.localStorage[dataModelKey]){
                $scope.dataModel = JSON.parse(window.localStorage[dataModelKey]);
            }else{
                $scope.dataModel = {};
                $scope.dataModel.topics = [];
            }
        };
        $scope.loadData();

        $scope.saveData = function() {
            window.localStorage[dataModelKey] = JSON.stringify($scope.dataModel);
        };

        $scope.addTopic = function(strTopicTitle){
            var newTopic = {title:strTopicTitle, fileContentKey: guid()};
            $scope.dataModel.topics.push(newTopic);
            $scope.selectTopic(newTopic);
            $scope.saveData();
        };
        $scope.saveTopic = function(topic){
            window.localStorage[topic.fileContentKey]=$scope.dataModel.fileContent;
            topic.dirty=false;
        }
        $scope.selectTopic = function(topic){
            $scope.dataModel.currentTopic=topic;
            $scope.dataModel.fileContent = window.localStorage[topic.fileContentKey];
            $scope.saveData();
        }

        keyboardManager.bind('ctrl+s', function() {
            $scope.saveTopic($scope.dataModel.currentTopic);
            console.log('saved successfully...');
        });

    }
    $(document).ready(function(){
        function fitEditindArea(){
            $('input').width($(document).width()-180);
            $('textarea').width($(document).width()-180);
            $('textarea').height($(document).height()-40);
        }
        fitEditindArea();
        $(window).resize(function(){ fitEditindArea(); });
    });
</script>

</body>
</html>
